#social_box {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 9999;
}
.social-chat {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-chat li {
  margin: 5px 0;
}
.social-chat li a img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.social-chat li a.o img {
  padding: 2px;
  margin-bottom: 4px;
}
.social-chat li a:not(.o) {
  display: none;
}
.social-chat li a.o {
  background: #e03;
  border-radius: 50%;
  display: block;
}
.social-chat li a.c {
  display: none;
  cursor: pointer;
}
